[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==1.8.2"
mypy = "==0.910"
pyyaml = "==5.4.1"
pytest = "==6.2.4"
black = "==21.6b0"

[dev-packages]
black = "==21.6b0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
